

.navLink > a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    
}

.navLink > a:hover {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
}