.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 15px;
}

.card-image {
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.cadr-userImg {
    display: flex;
    width: 60px;
    border: 5px solid red;
    border-radius: 50%;
   
    
}

.card-UserName{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.card-dateCreate{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}