.header{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}

header ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
}


.menu-button {
  
  display:none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 50%;
}

@media (max-width: 768px) and (max-width: 1024px) {
  header {
    text-align: center;
  }
  .search-input{
    width: 30%;
  }
  .menu-button {
    display: block;
    font-size: 20px;
  }
  .header ul {
    display: none;
  }
  .icons-container  > img {
    display: none;
   }

  header div{
    width: 100%;
    height: 3vh;
  }




}

.menu-button:hover {
  background-color: #eee;
}

.icons-container{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  position: relative;
  width: 100%;
  max-width: 600px;
}
.search-input{
    padding: 12px 200px 12px 45px;;
    border-radius: 999px;
    border: none;
    margin: 0px;
    outline: none;
    color:black;
    background-color: rgb(230, 229, 229);
    font-size: 16px;

}

.search-button{
  position: absolute;
  left: 73%;
  top: 2%;
  transform: translateY(50%);
  font-size: 16px;
  color: #100f0f;
  border: none;
  background-color: rgba(230, 229, 229, 0) ;
  cursor: pointer;
  
}

.logoImg {

    display: flex;
    width: 6vh;
    height: 6vh;

}

.icons-container {
    display: flex;
    width: 4vh;
    height: 4vh;
}