:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;   
  color: rgba(0, 0, 0, 0.);
  background-color: #ffffff;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
  align-items: center;
  gap: 20px;

}

@media (max-width: 768px) and (max-width: 1024px) {
  .picture-container{
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
  }


}